<ng-container *ngIf="products.length !=0">
<div class="container">
  <div class="card-table">
    <div class="card-product">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Sr.no</th>
            <th>Product Name</th>
            <th>Product Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of products, let i = index">
            <td>{{i+1}}</td>
            <td>{{item.title}}</td>
            <td><img src="{{item.image}}" alt="image" style="width: 120px;"></td>
            <td style="width: 35%;">{{item.description}}</td>
            <td style="width: 10%;">$ {{item.price}}</td>
            <td style="width: 10%;">{{item.quantity}}</td>
            <td style="width: 15%;">{{item.total}}</td>
            <td><button (click)="removeProduct(item)" class="btn btn-danger"><em class="fas fa-trash"></em></button></td>
          </tr>
          <tr>
            <td colspan="4"></td>
            <td><button (click)="removeAllProduct()" class="btn btn-danger">Empty Cart</button></td>
            <td><button routerLink="/products" class="btn btn-warning">Shop More</button></td>
            <td><button routerLink="/footer" class="btn btn-success">Check out</button></td>
            <td class="price"><strong>Total: <br> $ {{allProducts}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</ng-container>

<ng-container *ngIf="products.length === 0">
<div class="container">
  <div class="card">
    <h4 class="card-title">My Cart</h4>
  </div>
  <div class="center">
    <img src="./assets/img/empty.webp" alt="">
    <h5>You Cart is empty!</h5>
    <h6>Add item to it now</h6>
    <button routerLink="/products" class="btn btn-primary">Shop Now</button>
  </div>
</div>
</ng-container>