.form-control {
  border-radius: 5px;
  margin-left: 25px;
  width: 600px;
}

.search-icon {
  z-index: 10;
  position: absolute;
  right: 46%;
  top: 30%;
  color: blue;
}

.navbar {
  padding: 10px 30px;
}